# dependencies
node_modules

# build output
dist
dist-ssr
*.local

# rust / tauri
src-tauri/target

# logs
logs
*.log
npm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?\

src-tauri/target
src-tauri/Cargo.lock
src-tauri/Cargo.toml
src-tauri/Cargo.lock

DESIGN.md
CLAUDE.md

reference/
vercel.com/
